USE [master]
GO
/****** Object:  Database [RehberImageServis]    Script Date: 02/06/2019 4:05:12 PM ******/
CREATE DATABASE [RehberImageServis]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RehberImageServis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RehberImageServis]
GO
/****** Object:  Table [dbo].[UserImages]    Script Date: 02/06/2019 4:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserImages](
	[fotId] [int] IDENTITY(1,1) NOT NULL,
	[binaryData] [nvarchar](max) NULL,
	[employeeId] [int] NULL,
	[employeeName] [varchar](100) NULL,
 CONSTRAINT [PK_Fotograflar] PRIMARY KEY CLUSTERED 
(
	[fotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
