<div class="grid-1">
    <div class="form-body">
        <h3 style="color:#337ab7" class="text-center h3-arama">Arama</h3>
        <button id="btn-addEmployee" class="btn btn-success">Yeni Kişi</button>
        <div data-example-id="simple-form-inline">
            <form class="form-inline">
                <div class="form-group input-search">
                    <input type="text" class="form-control" id="searchFirstName" placeholder="Ad..">
                </div>
                <div class="form-group input-search">
                    <input type="text" class="form-control" id="searchLastName" placeholder="Soyad..">
                </div>
                <div class="form-group input-search">
                    <input type="text" class="form-control" id="searchTelephone" placeholder="Telefone..">
                </div>
                <div class="form-group input-search">
                    <input type="text" class="form-control" id="searchUnitName" placeholder="Birim..">
                </div>
                <div class="form-group input-search">
                    <input type="text" class="form-control" id="searchEmail" placeholder="Email..">
                </div>

            </form>
        </div>
    </div>
</div>

<div class="tables">
    <table id="employeesTable" class="table">
        <thead>
            <tr class="_thead">
                <th>Ad</th>
                <th>Soyad</th>
                <th>Birim</th>
                <th>Tel</th>
                <th>E-Posta</th>
                <th>Web Adresi</th>
                <th>Diğer</th>
                <th>Düzelt</th>
                <th>Sil</th>
            </tr>
        </thead>
    </table>
    <h3 style="text-align:center" id="noResult"> Yükleniyor.....</h3>
</div>

@*Adding Employee Model*@
<div class="modal fade" id="addEmployeeModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Yeni Kişi</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newEmployeeForm" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label>Ad *</label>
                        <input type="text" name="FirstName" class="form-control" id="inputEmployeeFirstName" placeholder="Ad yazınız">
                    </div>
                    <div class="form-group">
                        <label>Soyad *</label>
                        <input type="text" name="LastName" class="form-control" id="inputEmployeeLastName" placeholder="Soyad yazınız">
                    </div>
                    <div class="form-group">
                        <label>E-Posta Adresi</label>
                        <input type="text" name="Email" class="form-control" id="inputEmployeeEmail" placeholder="E-Posta Adresi yazınız">
                    </div>
                    <div class="form-group">
                        <label>Telefon Numarası</label>
                        <input type="text" name="TelephoneNumber" class="form-control" id="inputEmployeePhoneNumber" placeholder="Telefon Numarası yazınız">
                    </div>
                    <div class="form-group">
                        <label>Web Sitesi</label>
                        <input type="text" name="WebSite" class="form-control" id="inputEmployeeWebsite" placeholder="Web Sitesi yazınız">
                    </div>
                    <div class="form-group">
                        <label>Ekstra Bilgi</label>
                        <input type="text" name="ExtraInfo" class="form-control" id="inputEmployeeExtra" placeholder="Ekstra Bilgi yazınız">
                    </div>
                    <div class="form-group">
                        <label>Hangi birim altında olacak ? *</label>
                        <input style="color:black" id="selectedParentUnit" type="text" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <div id='contentHierarchicalUnit2'>
                            <div id='jqxWidgetAddEmployee'>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Fotoğrf</label>
                        <input type="file" class="form-control" id="inputImage">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="submitAddEmployee" type="button" class="btn btn-success">Ekle</button>
            </div>
        </div>
    </div>
</div>

@*Edit Employee Model*@

<div class="modal fade" data-id="" data-employeeId="" data-unitId="" id="editEmployeeModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Yeni Kişi</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editEmployeeForm">
                    <div class="form-group">
                        <label>Ad *</label>
                        <input type="text" class="form-control" id="edtInputEmployeeFirstName" placeholder="Ad yazınız">
                    </div>
                    <div class="form-group">
                        <label>Soyad *</label>
                        <input type="text" class="form-control" id="edtInputEmployeeLastName" placeholder="Soyad yazınız">
                    </div>
                    <div class="form-group">
                        <label>E-Posta Adresi</label>
                        <input type="text" class="form-control" id="edtInputEmployeeEmail" placeholder="E-Posta Adresi yazınız">
                    </div>
                    <div class="form-group">
                        <label>Telefon Numarası</label>
                        <input type="text" class="form-control" id="edtInputEmployeePhoneNumber" placeholder="Telefon Numarası yazınız">
                    </div>
                    <div class="form-group">
                        <label>Web Sitesi</label>
                        <input type="text" class="form-control" id="edtInputEmployeeWebsite" placeholder="Web Sitesi yazınız">
                    </div>
                    <div class="form-group">
                        <label>Ekstra Bilgi</label>
                        <input type="text" class="form-control" id="edtInputEmployeeExtra" placeholder="Ekstra Bilgi yazınız">
                    </div>
                    <div class="form-group">
                        <label>Hangi birim altında olacak ? *</label>
                        <input style="color:black" id="edtSelectedParentUnit" type="text" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <div id='contentHierarchicalUnit3'>
                            <div id='jqxWidgeteditEmployee'>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="submitEdtEmployee" type="button" class="btn btn-success">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@*Confirm Delete Model*@



<div class="modal fade" id="deleteEmployeeModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span id="confirmDeleteEmployeeName"></span> Silmek istediğinizden emin misiniz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="btnConfirmDeleteEmployee" type="button" class="btn btn-danger">Sil</button>
            </div>
        </div>
    </div>
</div>
@*pagination*@
<nav class="text-center" aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a id="lastPage" class="page-link" href="javascript:;">Önceki</a></li>
        <li class="page-item"><a id="nextPage" class="page-link" href="javascript:;">Sonraki</a></li>
    </ul>
</nav>

<script src="~/js/site/Employees.js"></script>
