<div class="row scroll">
    <div id="sonuc" class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div id="container" class="col-md-12 col-sm-12 col-xs-12">
                <div id="kisiListesi_wrapper" class="dataTables_wrapper no-footer">
                    <table id="kisiListesi" class="scroll table table-bordered table-striped table-hover dataTable no-footer" style="background-color: whitesmoke;" role="grid">
                        <thead>
                            <tr  class="active" role="row">
                                <th class="col-md-1 col-sm-1 col-xs-1 text-center sorting" tabindex="0" aria-controls="kisiListesi" rowspan="1" colspan="1" aria-label="Tel. No: activate to sort column ascending" style="width: 43px;">Tel. No</th>
                                <th class="col-md-3 col-sm-3 col-xs-3 sorting" tabindex="0" aria-controls="kisiListesi" rowspan="1" colspan="1" aria-label="Ad Soyad / Ünvan Görev: activate to sort column ascending" style="width: 202px;">Ad Soyad / Ünvan Görev</th>
                                <th class="col-md-2 col-sm-2 col-xs-2 hidden-xs sorting" tabindex="0" aria-controls="kisiListesi" rowspan="1" colspan="1" aria-label="Ek Bilgi: activate to sort column ascending" style="width: 122px;">Ek Bilgi</th>
                                <th class="col-md-3 col-sm-3 col-xs-3 sorting" tabindex="0" aria-controls="kisiListesi" rowspan="1" colspan="1" aria-label="E-posta / Web: activate to sort column ascending" style="width: 202px;">E-posta / Web</th>
                                <th class="col-md-3 col-sm-3 col-xs-3 sorting" tabindex="0" aria-controls="kisiListesi" rowspan="1" colspan="1" aria-label="Birim: activate to sort column ascending" style="width: 122px;">Birim</th>
                            </tr>
                        </thead>

                        <tbody id="tableContent">
                       
                        </tbody>

                  
                    </table>
                </div>

            </div>
        </div>



    </div>
</div>