.formStyle
{
    margin-top:200px;
    margin-left:50px;
}
label
{
    color:white;
  
}
.form-control
{
    width:100%;
}
#kisiListesi_wrapper {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

    #kisiListesi_wrapper::-webkit-scrollbar {
        display: none;
    }


#kisiListesi_wrapper {
    overflow-x: scroll;
}
.panel {
    margin-left: 50px;
    margin-right: 50px;
    border-radius:10px;
}
h4{
    margin-bottom:20px;
    margin-top:10px;
}

#jqxTree {
    width: 100%;
    overflow-y: auto;
}
.jqx-fill-state-pressed {
    border-color: #DFE9F0;
    background: #DFE9F0;
    padding-left: 5px;
    transition: all linear 0.4s;
 
    
    
}
.jqx-item {
    font-size: 18px;
    font-family: 'Voltaire', sans-serif;
}



#result
{
    overflow:auto;
}
body, html
{
    overflow:auto;
}
.modal{
    margin-top:50px;
}
.fade
{
    opacity:1;
    background-color:transparent;
}
._header
{
    height:40px;
    margin-top:10px;
   font-weight:bold;
   font-size:30px;;
}
.icon {
    width: 36px;
    margin-top: 5px;
    margin-left: 236px;
}
.icon:hover
{
    cursor:pointer;
}
.resetText{
   color:red;
   margin-left:230px;
   display:none;
}